---
import BaseLayout from "@layouts/BaseLayout.astro";
import JobItem from "@components/JobItems/JobItem.astro";
import { getJobs } from "@util/database";
import type { IJob } from "@util/job.interface";
import Pagination from "@components/Pagination.astro";

// Allowing Astro to prerender this page using Hybrid Mode
export const prerender = true;
export async function getStaticPaths({ paginate }) {
    const jobs= await getJobs('internship');
    return paginate(jobs,{pageSize:12})
}
const {page}=Astro.props
---

<BaseLayout title="Internships" description="Internships for all MEAN software engineer to start thier career"
url='/internships'>
<div class="mt-20 sm:mt-40 mx-10 sm:mx-40 text-[#002838] text-xl font-bold">
    <h1 class="text-[#002838]">Explore New Career Opportunities</h1>
    <hr class="block border-4 border-[#0374E2] rounded-md w-20 items-center">
</div>

<div class="grid sm:grid-cols-1  lg:grid-cols-2 xl:grid-cols-3 items-center mx-8 gap-6 my-20">
        {page.data.map((job:IJob) => (
            <JobItem title={job.title}
            company={job.company}
            skills={job.skills}
            type={job.type}
            link={job.link}
            logo={job.logo}
            deadline={job.deadline}
            email={job.email}
            ></JobItem>
        ))}
</div>
<Pagination nextUrl={page.url.next} prevUrl={page.url.prev} />
</BaseLayout>
