---
import BaseLayout from "@layouts/BaseLayout.astro";
import JobItem from "@components/JobItems/JobItem.astro";
import { getJobs } from "@util/database";
import type { IJob } from "@util/job.interface";
import Pagination from "@components/Pagination.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import Modal from "@components/Modal/Modal.astro";

// Allowing Astro to prerender this page using Hybrid Mode
export const prerender = true;
//@ts-ignore
export async function getStaticPaths({ paginate }) {
    const jobs= await getJobs();
    return paginate(jobs,{pageSize:12})
}
const {page}=Astro.props
---

<BaseLayout title="Opportunities" description="Opportunities for all MEAN software engineer to start thier career"
url='/opportunities'>
<div class="mt-40 mx-4 sm:mx-10 text-[#002838] text-xl font-bold">
    <SectionTitle title="Explore New Career Opportunities" style="mx-4 sm:mx-32 items-start" />
</div>

<div class="grid sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 items-center mx-4 sm:mx-40 gap-6 my-20">
        {page.data.map((job:IJob) => (
            <JobItem {...job}/>
        ))}
</div>

<Modal/>

<Pagination nextUrl={page.url.next} prevUrl={page.url.prev} lastPage={page.lastPage} currentPage={page.currentPage}/>

</BaseLayout>
