---
import type { IJob } from '@util/job.interface';

export interface Props extends IJob{}
const Job=Astro.props
const {company, title, email, type, deadline, skills, link, logo}=Job
const tags=skills.split(",")

---
<div class="flex overflow-hidden border border-zinc-300 rounded-md ring-slate-800 w-[24rem] sm:w-[30rem] h-36 shadow-md duration-150 hover:border-zinc-500 hover:shadow-lg">
        <img src={logo} class="bg-white w-28 h-36 object-center object-cover">
        <div class="text-[#002838] mx-4 my-4 text-sm">
            <h1 class="font-bold">{title}</h1>
            <div class="text-xs mt-1">
                <h3 class="font-medium">{company}</h3>
                <p>{type}</p>
                <p>Apply before: {deadline}</p>
            </div>
            <div class="flex mt-6 items-center">
                <ul class="overflow-hidden flex gap-2 text-[8px] sm:text-xs font-medium ">
                    {tags.map(tag=>{
                        return <li class="rounded-sm bg-[#002838] text-white text-start px-1 hover:bg-[#00283896] duration-150">{tag}</li>
                    })}
                </ul>
            </div>
        <button type="button" class="absolute rounded-lg bg-[#0374E2] text-white w-16 -my-4 sm:w-20 mx-44 sm:mx-64 item-center text-[10px] h-[1.2rem] hover:text-zinc-800 hover:bg-yellow-300 duration-150 hover:shadow-md">Apply</button>
    </div>
</div>

