---
import type { IJob } from '@util/job.interface';

export interface Props extends IJob{}
const Job=Astro.props
const {company, title, email, type, deadline, skills, link, logo}=Job
const tags=skills.split(",")

---
<div class="flex overflow-hidden border border-zinc-300 rounded-md ring-slate-800 shadow-md duration-150 hover:border-zinc-500 hover:shadow-lg hover:-translate-y-1">
        <img src={logo} onerror="this.onerror=null; this.src='/images/joblogo.png'" alt="logo" class=" bg-white w-28 sm:w-32 object-cover object-center">
        <div class="flex flex-col text-[#002838] mx-2 my-2 sm:mx-4 sm:my-4 text-sm w-[20rem] sm:w-[30rem]">
            <h1 class="font-bold">{title}</h1>
            <div class="text-xs mt-1">
                <h2 class="font-medium">{company}</h2>
                <p>{type}</p>
                <p>Apply before: {deadline}</p>
            </div>
            <div class="flex mt-6 items-center">
                <ul class="flex sm:flex-wrap gap-2 text-[8px] sm:text-xs font-medium">
                    {tags.map(tag=>{
                        return <li class="rounded-sm bg-[#002838] text-white text-start px-1 hover:bg-[#00283896] duration-150">{tag}</li>
                    })}
                </ul>
            </div>
            <button type="button" class="self-end mt-4 rounded-lg bg-[#0374E2] text-white w-16 sm:w-20 item-center text-md h-6 hover:text-zinc-800 hover:bg-accent duration-150 hover:shadow-md">Apply</button>
        </div>
</div>

