---
export interface Props{
    title:string,
    textcolor:string,
    bgcolor:string,
    hovercolor?:string,
    focuscolor?:string,
    bordercolor?:string
    link?:string
}
const {
    title='button',
    textcolor='text-gray-900',
    bgcolor='bg-white',
    hovercolor='hover:bg-gray-100',
    focuscolor='focus:ring-gray-200',
    bordercolor='border-gray-300',
    link=''
} = Astro.props

const properties=`${textcolor} ${bgcolor} border px-8 py-2.5 mr-2 mb-2 text-sm rounded-lg font-medium focus:ring-4 focus:outline-none`
---
<a href={link}>
<button type="button" class={properties}>{title}</button>
</a>