---
import DefaultHeader from "@components/DefaultHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { auth } from "src/util/database";


const url=new URL(Astro.url)
if (Astro.cookies.has('token')){
    const accessToken = Astro.cookies.get('token');
    const verified = await auth(accessToken);
    if(verified !== null){
        Astro.redirect(`${url.origin}/newjob/add`)
    }
}


---
<BaseLayout title="JobForm" url="/newjob">
    <DefaultHeader title="Enter your Access token" description="Access token has been provided to you privately"/>
<div class="container mt-2 bg-zinc-200/50 rounded-lg justify-center flex items-center ring-2 ring-slate-800 shadow-lg p-7 mb-7 max-w-[380px] sm:max-w-2xl">
<div class="flex flex-col max-w-md sm:max-w-sm">
    <label class="text-center text-lg text-slate-800">Access Token</label>
    <input id="secret" required type="password" placeholder="@#sadWQd#dsa" class="m-2 p-2 rounded-md">
    <button class="ring-2 place-self-center ring-white rounded-md p-2 m-2 w-36 bg-slate-800 text-zinc-300 hover:bg-slate-800/70">Grant Access</button>
</div>
</div>
<!-- <script is:inline>
    const btn=document.querySelector('button')
    btn.addEventListener('click',grantAccess)
    const cookie=document.cookie
    const d=new Date()
    const url=new URL(location)
    function checkCookie(){
        if(cookie){
            location.assign(`${url.href}/add`)
        }
    }
    function grantAccess(){
        const token=document.getElementById("secret");
        if(token.value){
            d.setTime(d.getTime()+ (30*24*60*60*1000))
            let expire=`expires=${d.toUTCString}`
            document.cookie=`token=${token.value};${expire};path=/`
            checkCookie()
        }
        alert("Enter your token")
    } 
    checkCookie()
</script> -->
</BaseLayout>