---
import { siteConfig } from '../util/siteConfig'
import Navigation from '@components/Navigation.astro'
import Footer from '@components/Footer.astro'
import Analytics from '@components/Analytics/Analytics.astro'

export interface Props{
    title: string,
    description?:string
    keywords?:string[]
    url:string
    includeHeader?:boolean
}

const {
    title= siteConfig.title,
    description= siteConfig.description,
    keywords= siteConfig.keywords,
    url='',
    includeHeader=true
}
= Astro.props

const DomainURL = Astro.url.origin
const currentAbsoluteLink=`${DomainURL}${url}`

---

<!DOCTYPE html>
<html lang="en" class="latin">
<head>
    <meta charset="UTF-8"/>
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />   
    <meta name='author' content='Mahmoud Galal' />
    <meta name='keywords' content={keywords.join(', ')} />
    <title>{title}</title>
    <meta
      name='viewport'
      content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0'
    />
    <!-- Google tags -->
    <meta itemprop="name" content={title}>
    <meta itemprop="description" content={description}>
    <meta itemprop="image" content={`${DomainURL}/images/og_banner.png`}>
    <meta http-equiv='Content-Language' content='en' />
    <!-- Facebook tags -->
    <meta property="og:url" content={`${currentAbsoluteLink}`}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={`${DomainURL}/images/og_banner.png`}>
    <!-- Twitter tags -->
    <meta name="twitter:card" content="Jobs for Juniors and fresh-graduates">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={`${DomainURL}/images/og_banner.png`}>
    <meta name='twitter:creator' content='@eitmg'/>
    <meta name='twitter:site' content={`${currentAbsoluteLink}`}/>
    <meta name='twitter:domain' content={`${currentAbsoluteLink}`}/>
    <meta name='twitter:app:name:iphone' content='JuniorsJob'/>
    <meta name='twitter:app:name:ipad' content='JuniorsJob'/>
    <meta name='twitter:app:name:googleplay' content='JuniorsJob'/>
    <meta name='twitter:app:url:iphone' content={`${currentAbsoluteLink}`}/>
    <meta name='twitter:app:url:ipad' content={`${currentAbsoluteLink}`}/>
    <meta name='twitter:app:url:googleplay' content={`${currentAbsoluteLink}`}/>


    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='600' />
    <meta property='og:image' itemprop="image" content={`${DomainURL}/images/og_banner.png`} />
    <meta property='og:image:alt' content='JuniorsJob' />
    <meta property='og:site_name' content='JuniorsJob' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={currentAbsoluteLink} />
    <link rel='canonical' href={currentAbsoluteLink} />
    <meta name='mobile-web-app-capable' content='yes' />

    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent' />
    <meta name='apple-mobile-web-app-title' content='JuniorsJob' />
    <meta name='application-name' content='JuniorsJob' />

    <link rel='apple-touch-icon' sizes='180x180' href='/manifest/apple-touch-icon.png' />
    <meta name='msapplication-TileColor' content='#101010' />
    <meta name='theme-color' content='#848a9a' />

    <link rel='manifest' href='/manifest/manifest.json' />
    <link rel='icon' type='image/png' sizes='32x32' href='/manifest/icon32.png' />
    <link rel='icon' type='image/svg+xml' sizes='16x16' href='/manifest/icon16.png' />
    <link rel='shortcut icon' href='/manifest/favicon.ico' type='image/svg+xml' />

    <link rel='icon' href='/manifest/favicon.ico' type='image/svg+xml' />
    <Analytics/>
</head>
<body class="relative min-h-screen bg-white">
    {includeHeader? <Navigation/> : '' }
    <slot/>
    <Footer/>
</body>
</html>